// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  height: 100vh;
  padding: 50px 25px;
  background-image: linear-gradient(
      115deg,
      hsla(240, 46%, 42%, 0.8),
      hsla(240, 42%, 67%, 0.7)
    ),
    url('../assets/img/survey-form-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: normal;

  @include mq('small') {
    padding-top: 30px;
  }
}
