// -----------------------------------------------------------------------------
// This file contains all styles related to the form group input component.
// -----------------------------------------------------------------------------

.form-group__input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  font-family: $text-font-stack;
  color: $mid-grey;

  &::placeholder {
    color: $mid-grey;
  }

  &--textarea {
    @extend .form-group__input;
    height: 120px;
  }
}
