// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button-submit {
  @extend .form-group__input;
  padding-block: 10px !important;
  color: $text-color !important;
  background-color: $button-color;
}