// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
  box-sizing: border-box;
  color: $text-color;
  // font-size: 62.5%;
  font-family: $text-font-stack;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
