// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}


// -----------------------------------------------------------------------------

@mixin flex($direction: row, $justify: space-around, $align: center, $gap: 0, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
  @content;
}

// -----------------------------------------------------------------------------

@mixin bg-image($img, $size: initial, $repeat: no-repeat, $position: center right, $blend: darken) {
  background-image: url('/src/assets/images/#{$img}');
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
  background-blend-mode: $blend;
  @content;
}


// -----------------------------------------------------------------------------

@mixin mq($breakpoint-key) {
  @if map-has-key($breakpoints, $breakpoint-key) {
    @media (max-width: #{map-get($breakpoints, $breakpoint-key)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint-key}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}


// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
