// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$text-font: 'Poppins' !default;
$headings-font: 'Poppins' !default;

$text-font-stack: $text-font, 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

$headings-font-stack: $headings-font, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;


// -----------------------------------------------------------------------------

$brand-color: color('purple') !default;
$text-color: color('white') !default;
$headings-color: color('white') !default;
$button-color: color('green') !default;

$light-grey: hsl(0, 0%, 80%) !default;
$mid-grey: hsl(0, 0%, 60%) !default;
$dark-grey: color('grey') !default;

$colors: (
  'white': hsl(0, 0%, 95%),
  'grey': hsl(210, 9%, 31%),
  'green': hsl(143, 52%, 45%),
  'purple': hsla(240, 46%, 42%, 0.8)
) !default;


// -----------------------------------------------------------------------------

$max-width: 1080px !default;

$breakpoints: (
  'min': 395px,
  'tiny': 480px,
  'small': 600px,
  'medium': 768px,
  'large': 1024px,
  'huge': 1280px,
  'max': 1440px,
) !default;


// -----------------------------------------------------------------------------

$base-url: '/assets/' !default;


// -----------------------------------------------------------------------------
